.Grid {
  display: grid;
  grid-template-rows: repeat(10, clamp(32px, 64px, 5vw));
  width: min-content;
  margin: auto;
  margin-top: 32px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid black;
  user-select: none;
}

.Row:first-child {
  border: none;
}
.Row {
  display: grid;
  border-top: 1px solid black;
  grid-template-columns: repeat(10, clamp(32px, 64px, 5vw));
}

.Col {
  text-align: center;
  background: #ececec;
  border-right: 1px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Col:last-child {
  border: none;
}

.Col:hover {
  background: #ccc;
  z-index: 20;
  box-shadow: 0 0 4px inset #333;
}